@font-face {
    font-family: 'DisneyFont';
    src: url('fonts/disneyFont.ttf') format('truetype');
}

body, html {
    height: 100%;
    margin: 0;
    width: 100%;
    display: flex;
    font-family: 'DisneyFont', sans-serif;
    letter-spacing: 0.03em; /* 3% kerning */
}

/* Fullscreen overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* 50% translucent black */
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it covers all other elements */
    background-image: url(assets/backgrounds/openBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#screenWarning{
    color: rgb(0, 95, 139);
    background-color: rgba(0, 225, 255, 0.158);
    border-radius: 5px;
    padding: 5px;
}


/* Centered box */
.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    filter: none;
}

/* Button to dismiss the overlay */
#dismiss-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-image: url(assets/backgrounds/openBackground.jpg);
    height: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    opacity: 1.0;
    transition: background 1.5s linear; /* Smooth transition for background */
    overflow: hidden;
}

.fade-in-out-text {
    animation: fadeInOut 20s infinite; /* Animation for fading */
}

.fade-in-out-parkswitch {
    animation: fadeInOut 180s infinite; /* Animation for fading */
}

@keyframes fadeInOut {
    0% { opacity: 0; } 
    5% { opacity: 1}
    95% {opacity: 1;}
    100% { opacity:0 }
}

.midleftContainer{
    height: 100%;
    display: flex;
    width: 85%;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.topTitle{
    background-color: none;
    width: 100%;
    padding-top: 100px;
    margin: 0px;
    padding-left:80px
}

.midleftLower{
    display:flex;
    flex-direction: row;
    height: 848px;
}
.left{
    flex-grow: 1;
    background-color: rgba(240, 128, 128,0.0);
    padding:20px 20px 40px 80px;
    height:100%;
    max-width: 560px;
}

.topTitle p{
    width:100%;
    box-sizing: border-box;
    margin: 0;
    font-size: 60px;
}

.waitContainer{
    max-width: 560px;
    background-color: rgba(0, 0, 0, 0.4);
    height:100%;
    overflow-y: scroll;
    border-radius: 40px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 0px 20px 0px 20px;
}

.waitElement{
    width: calc(100%-12px);
    background-color: rgba(0, 0, 0, 0.4);
    margin-top:12px;
    height:auto;
    padding-top:8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 18px;
}

.waitName{
    flex-grow: 1;
}

.waitTime{
    width: auto;
    margin-right: 20px;
    padding:7px;
    background-color: rgba(255, 0, 0, 0.4);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.lightningLane{
    width: auto;
    height: 16px;
    margin-right: 3px;
    padding:7px;
    background-color: rgba(0, 204, 255, 0.4);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    align-items: center;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.waitContainer::-webkit-scrollbar {
    display: none;
  }
  

.middle {
    width: 55%;
    background-color: rgba(173, 216, 230,0.0);
    padding-right: 120px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
}

.middle titleBlock{
    font-size: 60px;
    font-weight: 0.01px;
}
.middle p{
    margin: 0;
    font-size: 38px;
}


.right {
    width: 15%;
    background-color: rgba(8, 39, 80, 0.55);
    padding: 24px;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    min-width: 320px;
}
.right p{
    margin: 0px;
    font-size: 20px;
}

#audio p{
    font-weight: bold;
}

.right day{
    font-size: 30px;
    color: #99b8df;
    display: block;
    margin: 0;
}
.right date{
    font-size: 40px;
    color:#99b8df;
    display: block;
    margin-top: -2;
}

.right time{
    font-size: 48px;
    display: block;
    margin-top: -7;
}

.defGrey{
    font-size: 28px;
    color: #99b8df;
    display: block;
}

.weatherContainer{
    display:flex;
    flex-direction: row;
    flex:auto;
}
.weatherElem{
    flex-grow: 1;
    flex-basis: 0;
    color:white;
    font-size: 40;
}

.footer-container {
    display: flex;
    position:fixed;
    flex-direction: column;
    justify-content: flex-end; /* Aligns the footer to the bottom */
    right: 0;
    bottom: 0;
    width: 15%;
    min-width: 320px;
}

/* Footer styling */
.footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;
}

/* Button styling */
.footer-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.footer-button:hover{
    background: none;
    filter:brightness(50%);
    border: none;
    cursor: pointer;
    padding: 10px;
}

/* Icon styling */
.footer-button img {
    width: 35px; /* Adjust size as needed */
    height: 35px; /* Adjust size as needed */
}

head4{
    font-size: 24px;
    color: #dfeeff;
    display: block;
    margin-bottom: 8px;
    margin-top:8px;
}

head3{
    font-size: 32px;
    color: #99b8df;
    display: block;
}
head2{
    font-size: 42px;
    color:#99b8df;
    display: block;
}

head1{
    font-size: 50px;
    display: block;
}

label{
    font-size: 22px;
}
/* Customize the label (the container) */
.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkboxContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkboxContainer input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkboxContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .openingContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 10px 0px;
    font-size: 30px;
  }
  .openingContainer img{
    width: 24px;
    height: 24px;
  }

  .openingInfo{
    flex-direction: column;
    margin-left:15px;
  }

  .openingTimes{
    width: 100%;
  }
  .openingContainer head3{
    font-kerning: 3%;
    font-size: 25px;
    color: #cee4ff;;
  }

  hr{
    border-style: dotted;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #99b8df;;
  }