@font-face {
    font-family: 'DisneyFont';
    src: url('fonts/disneyFont.ttf') format('truetype');
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    font-family: 'DisneyFont', sans-serif;
    letter-spacing: 0.03em; /* 3% kerning */
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-image: url(fonts/sillything.png);
    background-size: cover;
    color: white;
}

.left {
    width: 580px;
    background-color: rgba(240, 128, 128,0.0);
    padding: 100px 80px 80px 80px;
    box-sizing: border-box;
    margin: 0;
    font-size: 60px;

}

.middle {
    width: 1020px;
    background-color: rgba(173, 216, 230,0.0);
    
    padding-right: 120px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
}

.middle titleBlock{
    font-size: 60px;
    font-weight: 0.01px;
}
.middle p{
    margin: 0;
    font-size: 38px;
}


.right {
    width: 320px;
    background-color: rgba(8, 39, 80, 0.55);
    padding: 24px;
    box-sizing: border-box;
    margin: 0;
}

.right day{
    font-size: 32px;
    color: #6c92c1;
    display: block;
}
.right date{
    font-size: 42px;
    color:#6c92c1;
    display: block;
}

.right time{
    font-size: 50px;
    display: block;
}

.defGrey{
    font-size: 32px;
    color: #6c92c1;
    display: block;
}

.weatherContainer{
    display:flex;
    flex-direction: row;
    flex:auto;
}
.weatherElem{
    flex-grow: 1;
    flex-basis: 0;
    color:white;
    font-size: 40;
}

